<div id="edit-container">
  <form [formGroup]="form" (ngSubmit)="submitChange()">
    <h2>Edit ingredient stock</h2>
    <p>ID : {{ ingredient?.id }}</p>
    <p>Name : {{ ingredient?.name }}</p>
    <p>Threshold : {{ ingredient?.threshold }}</p>
    <p>
      <mat-form-field appearance="fill">
        <mat-label>Stock</mat-label>
        <input matInput type="number" formControlName="stock" min="0">
        <mat-error *ngIf="form.controls.stock.errors?.['required']">
          * Stock is required
        </mat-error>
        <mat-error *ngIf="form.controls.stock.errors?.['min']">
          * The stock can't be a negative number
        </mat-error>
      </mat-form-field>
    </p>
    <button mat-button id="submit">Change</button>
  </form>
</div>
<button mat-button id="cancel" (click)="navigateBack()">Cancel</button>
