<div id="recipe-card">
    <h3>{{recipe?.name}}</h3>
    <p id="recipe-id"><span class="bold">ID:</span> {{recipe?.id}}</p>
    <p><span class="bold">Ingredients:</span></p>
    <p id="ingredient-flex">
        <span class="ing" *ngFor="let ing of recipe?.ingredients">{{ing.name}} {{ing.amount | number: '1.2-2'}}</span>
    </p>
    <div id="button-container">
        <button id="delete" (click)="deleteRecipe()"><i class="fa fa-trash"></i></button>
        <button id="edit" (click)="navigateToEditRecipe()"><i class="fa fa-edit"></i></button>
    </div>
</div>