<p>
  <filter [search]="search$"></filter>
  <pagination></pagination>
  <mat-form-field appearance="fill">
    <mat-label>Pages per view</mat-label>
    <select matNativeControl (change)="selectChanged($event)">
      <option value="5">Pages of 5</option>
      <option value="10">Pages of 10</option>
      <option value="15">Pages of 15</option>
      <option value="20">Pages of 20</option>
    </select>
  </mat-form-field>
  <button mat-button (click)="navigateToNewItem()">
    <mat-icon>add</mat-icon> New item
  </button>
</p>

<table matSort (matSortChange)="sortData($event)">
    <tr>
        <th mat-sort-header="id">Id</th>
        <th mat-sort-header="name">Name</th>
        <th mat-sort-header="stock">Stock</th>
        <th>Operations</th>
    </tr>
    <ng-container *ngIf="ingredients$ | async as ingredients">
        <tr inventory-element *ngFor="let ingredient of ingredients"
        [ingredient]="ingredient"
        [ngClass]="{red: ingredient.stock <= ingredient.threshold}"></tr>
    </ng-container>
</table>
