<div id="edit-container">
    <form [formGroup]="form" (ngSubmit)="submitChange()">
        <h2>Edit ingredient stock</h2>
        <p>ID : {{ingredient?.id}}</p>
        <p>Name : {{ingredient?.name}}</p>
        <p>Threshold : {{ingredient?.threshold}}</p>
        <p>
            <label for="stock">Stock: </label>
            <input id="stock" type="number" formControlName="stock" min="0">
            <span *ngIf="form.controls.stock.invalid && (form.controls.stock.dirty || form.controls.stock.touched)">
                <span *ngIf="form.controls.stock.errors?.['required']" data-testid="stock-required">
                    *stock is required
                </span>
                <span *ngIf="form.controls.stock.errors?.['min']">
                    *the stock can't be negative number
                </span>
            </span>
        </p>
        <button id="submit">Change</button>
    </form>
</div>
<button id="cancel" (click)="navigateBack()">Cancel</button>