<div id="new-item-container">
  <form [formGroup]="form" (ngSubmit)="addItem()">
    <h2>Add new item</h2>
    <mat-form-field appearance="fill">
      <mat-label>Name</mat-label>
      <input matInput id="name" formControlName="name" placeholder="Name">
      <mat-error *ngIf="form.controls.name.errors?.['required']">
        Name is required
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Stock</mat-label>
      <input matInput type="number" id="stock" formControlName="stock" min="0">
      <mat-error *ngIf="form.controls.stock.errors?.['required']">
        Stock is required
      </mat-error>
      <mat-error *ngIf="form.controls.stock.errors?.['min']">
        The stock can't be negative number
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Threshold</mat-label>
      <input matInput type="number" id="threshold" formControlName="threshold" min="0">
      <mat-error *ngIf="form.controls.threshold.errors?.['required']">
        Threshold is required
      </mat-error>
      <mat-error *ngIf="form.controls.threshold.errors?.['min']">
        The threshold can't be negative number
      </mat-error>
    </mat-form-field>

    <div class="actions">
      <button mat-raised-button color="primary" type="submit" id="addbtn">Add item</button>
      <button mat-button id="cancel" (click)="navigateBackToInventory()">Cancel</button>
    </div>
  </form>
</div>
